@font-face {
    font-family: 'Roboto'; 
    src: url('../fonts/Roboto-Regular.ttf');
}

@font-face {
    font-family: 'LiberationSerif'; 
    src: url('../fonts/LiberationSerif-Regular.ttf');
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto';
}

a {
    text-decoration: none;
    color: #ffffff;
}

ul {
    list-style-type: none;
}

hr {
    background-color: #BDBDBD;
    height: 1px;
    border: none;
}

button:hover {
    cursor: pointer;
}

.wrapper {
    max-width: 1320px;
    margin: auto;
}

.head {
    height: 850px;
}

.head_promo {
    height: 50px;
    background-color: #191919;
}

.head_promo_text {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    color: white;
}

.head_content {
    display: flex;
    position: relative;
    height: 800px;
}

.head_background_left {
    background-image: url('../img/background/Rectangle.png');
    background-size: cover;
    width: 50%;
}

.head_background_right {
    background-color: #996B60;
    width: 50%;
}

.head_menu {
    position: relative;
    top: -800px;
    display: flex;
    height: 96px;
    align-items: center;
    justify-content: space-between;
    color: #ffffff;
    font-size: 12px;
}

.logo {
    position: absolute;
    width: 84px;
    height: 40px;
    left: calc(50% - 84px/2);
    top: 25px;
}

.head_menu ul {
    display: flex;
}

.head_menu_left {
    display: flex;
}

.head_menu_left li {
    margin-right: 65px;
}

.head_menu_right {
    display: flex;
    justify-content: right;
}

.head_menu_right li {
    margin-left: 65px;
}

.head_content {
    height: 800px;
}

.head_content_container {
    display: grid;
    position: relative;
    top: 277px;
    left: 60px;
    width: 600px;
    height: 423px;
}

.head_content_container_title {
    padding-top: 35px;
    font-size: 73px;
    font-family: 'LiberationSerif';
    color: #ffffff;
}

.head_content_container_text {
    width: 572px;
    padding-top: 34px;
    position: sticky;
    font-family: 'Roboto';
    font-size: 18px;
    color: #ffffff;
}

.head_content_container button {
    width: 180px;
    height: 52px;
    border-style: solid;
    border-width: 1px;
    border-color: #ffffff;
    background-color: #996B60;
    margin-top: auto;
}

.under_head {
    margin-top: 59px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 41px;
}

.under_head img {
    margin-top: 36px;
    width: 300px;
    height: 50px;
}

.under_head__food_wine, .under_head__the_new_yourk_times, .under_head__bon_appetit {
    width: 330px;
    text-align: center;
    font-size: 18px;
}

.made_with_natural_ingredients_nothing_fake {
    text-align: center;
    margin-bottom: 141px;
}

.made_with_natural_ingredients_nothing_fake__title {
    margin-top: 105px;
    margin-left: auto;
    margin-right: auto;
    width: 674px;
    height: 160px;
    font-family: 'LiberationSerif';
    font-size: 64px;
}

.made_with_natural_ingredients_nothing_fake__title_under {
    font-size: 12px;
    text-transform: uppercase;
}

.made_with_natural_ingredients_nothing_fake__cards {
    margin-top: 82px;
    display: flex;
    justify-content: space-around;
}

.made_with_natural_ingredients_nothing_fake__cards .card {
    width: 382px;
}

.made_with_natural_ingredients_nothing_fake__cards .cards_name {
    margin-top: 19px;
    font-family: 'LiberationSerif';
    font-size: 30px;
}

.made_with_natural_ingredients_nothing_fake__cards .cards_text {
    margin-top: 16px;
    font-size: 16px;
}

.made_with_natural_ingredients_nothing_fake__cards .cards_button {
    margin-top: 27px;
    width: 180px;
    height: 52px;
    background-color: #191919;
    color: #fff;
    text-transform: uppercase;
    border-style: none;
}

.an_intro_to_aperitifs {
    margin-top: 61px;
    margin-bottom: 95px;
}

.an_intro_to_aperitifs_text {
    margin-top: 55px;
    display: flex;
    justify-content: space-between;
}

.an_intro_to_aperitifs_text_title {
    font-family: 'LiberationSerif';
    font-size: 53px;
}

.an_intro_to_aperitifs_text_descripion {
    width: 548px;
    font-size: 18px;
}

.easy_to_drink_block {
    display: flex; 
    margin-bottom: 50px;
}

.easy_to_drink__text_wrapper {
    margin-top: 113px;
    margin-right: 55px;
}

.easy_to_drink_title {
    margin-top: 25px;
    font-family: 'LiberationSerif';
    font-size: 30px;
}

.natural_ingredients_title {
    margin-top: 25px;
    font-family: 'LiberationSerif';
    font-size: 36px;
}

.delivered_to_your_door_title {
    margin-top: 25px;
    font-family: 'LiberationSerif';
    font-size: 30px;
}

.easy_to_drink_block_text {
    margin-top: 19px;
    font-size: 18px;
}

.easy_to_drink_block img {
    margin-top: 61px;
    display: flex; 
    width: 880px;
    height: 608px;
    margin-left: auto;
}

.review_block {
    width: 100%;
    height: 313px;
    background-color: #000;
    text-align: center;
    color: #fff;
}

.review_block .wrapper {
    display: flex;
    justify-content: space-between;
}

.review__textwrapper {
    margin: 50px 0;
    padding-top: 45px;
    width: 330px;
    height: 213px;
}

.review {
    font-size: 18px;
}

.reviewer {
    margin-top: 17px;
    font-size: 14px;
    text-transform: uppercase;
}

.verified_reviewer {
    margin-top: 10px;
    font-size: 16px;
    color: #8A8A8A;
}

.we_do_things_differently_than_most_producer {
    margin-top: 60px;
    display: flex;
    justify-content: space-between;
}

.we_do_things_differently_than_most_producer img{
    width: 550px;
}

.we_do_things_differently_than_most_producer__text_block {
    height: 470px;
    width: 660px;
}

.we_do_things_differently_than_most_producer__title {
    font-family: 'LiberationSerif';
    font-size: 64px;
    line-height: 80px;
}

.we_do_things_differently_than_most_producer__text {
    margin-top: 150px;
    line-height: 32px;
    font-size: 18px;
}

.we_do_things_differently_than_most_producer__learn_more {
    margin-top: 35px;
    font-size: 12px;
}

.over_footer {
    text-align: center;
    margin-top: 59px;
    color: #fff;
}

.over_footer__background {
    padding-top: 60px;
    background-image: url('../img/background/Rectangle4.png');
    background-size: cover;
    height: 100%;
    height: 568px;
}

.over_footer__set_the_mood {
    position: static;
    width: 550px;
    height: 263px;
    background-color: #000;
}

.over_footer__follow_us {
    padding-top: 28px;
    position: static;
    margin-top: 20px;
    width: 550px;
    height: 97px;
    background-color: #000;
}

.over_footer__set_the_mood {
    padding-top: 40px;
}

.over_footer__set_the_mood__title {
    font-family: 'LiberationSerif'; 
    line-height: 80px;
    font-size: 55px;
}

.over_footer__set_the_mood__text {
    margin-top: 9px;
    width: 412px;
    font-size: 16px;
    line-height: 28px;
    margin-left: auto;
    margin-right: auto;
}

.over_footer__set_the_mood button {
    margin-top: 26px;
    width: 180px;
    height: 52px;
    font-size: 12px;
    text-transform: uppercase;
    border-style: none;
}

.over_footer__follow_us__title {
    font-size: 16px;
    line-height: 28px;
}

.over_footer__follow_us__links {
    margin-top: 19px;
    margin-left: auto;
    margin-right: auto;
    width: 320px;
    font-size: 12px;
    text-transform: uppercase;
}

.over_footer__follow_us__links a{
    margin: 0px 18px;
}

footer {
    height: 617px;
    background-color: #000;
    color: #fff;
}

.footer_content {
    position: relative;
    top: 45px;
    height: 532px;
}

.footer_content__maintext {
    display: flex;
    height: 368px;
    justify-content: space-between;
}

.footer_content__maintext__stay_postid {
    width: 440px;
    height: 252px;
}

.footer_content__maintext__stay_postid h2 {
    font-family: 'LiberationSerif'; 
    font-size: 42px;
    font-weight: 400;
}

.footer_content__maintext__stay_postid form {
    margin-top: 14px;
    display: flex;
    width: 440px;
    height: 53px;
}

.footer_content__maintext__stay_postid input {
    width: 100%;
    background-color: #000;
    color: #fff;
    border: 1px solid #818181; 
    border-top: hidden;
    border-left: hidden;
    border-right: hidden;
    outline: none;
    }

.footer_content__maintext__stay_postid button {
    font-size: 12px;
    background-color: #000;
    color: #fff;
    border-bottom: 1px solid #818181;
    border-style: solid;
    border-top: hidden;
    border-left: hidden;
    border-right: hidden;
    text-transform: uppercase;

}

.footer_content__maintext__stay_postid__text {
    width: 424px;
    margin-top: 12px;
    font-size: 18px;
    line-height: 27px;
}

.footer_content__maintext__navigation {
    display: flex;
    width: 660px;
    height: 358px;
    justify-content: space-between;
    font-weight: 400;
    text-transform: uppercase;
}

.footer_content__maintext__navigation h4 {
    font-weight: 400;
    margin-bottom: 25px;
    font-size: 14px;
}

.footer_content__maintext__navigation li{
    margin-bottom: 21px;
    font-size: 12px;
}

.footer_content__maintext__navigation a{
    color: rgba(255, 255, 255, 0.600);
}

.lower_links {
    margin-top: 125px;
    display: flex;
}

.lower_links h4{
    font-weight: 400;
    margin-right: 60px;
}

.lower_links ul {
    display: flex;
}

.lower_links li {
    margin-right: 60px;
    font-size: 15px;
}

.lower_links li a {
    font-size: 16px;
    color: rgba(255, 255, 255, 0.600);
}

