@font-face {
    font-family: 'LiberationSerif'; 
    src: url('../fonts/LiberationSerif-Regular.ttf');
}

@font-face {
    font-family: 'Roboto'; 
    src: url('../fonts/Roboto-Regular.ttf');
}

p.adwas1 {
    font-size: 73px;
    font-family: 'Roboto', sans-serif;
}

p.adwas2 {
    font-size: 73px;
    font-family: 'LiberationSerif', sans-serif;
}